<!-- Lista de tareas -->
<div class="container mt-4">
    
    <div class="card">
        <div class="card-body">
            <h1>
                Listado de Tareas
            </h1>
            <form [formGroup]="creaform" class="mt-4">
                <input type="number" id="id" formControlName="id" class="form-control form-control-sm" placeholder="ID"><br>
                <input type="number" id="user_id" formControlName="user_id" class="form-control form-control-sm" placeholder="User ID"><br>
                <input type="text" id="title" formControlName="title" class="form-control form-control-sm" placeholder="Nombre de la Tarea"><br>
                <input type="date" id="due_on" formControlName="due_on" class="form-control form-control-sm"><br>
                <select id="status" formControlName="status" class="form-control form-control-sm">
                    <option value="" disabled selected>Estado</option>
                    <option value="pending">pending</option>
                    <option value="completed">completed</option>
                    <option value="error">error</option>
                </select>
                <button type="submit" id="send" class="btn btn-dark btn-sm float-center" (click)="agregarTarea()">
                    Agregar Nueva Tarea
                </button>
            </form>
            <table class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            User ID
                        </th>
                        <th>
                            Tarea
                        </th>
                        <th>
                            Fecha Creación
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody class="tareas">
                    <tr *ngFor="let tarea of tareas;let i = index">
                        <td class="task-box">
                            <div class="task-field">
                                {{ tarea.id }}
                            </div>
                        </td>
                        <td class="task-box">
                            <div class="task-field">
                                {{ tarea.user_id }}
                            </div>
                        </td>
                        <td class="task-box">
                            <div class="task-field">
                                {{ tarea.title }}
                            </div>
                        </td>
                        <td class="task-box">
                            <div class="task-field">
                                {{ tarea.due_on }}
                            </div>
                        </td>
                        <td class="task-box">
                            <div class="task-field">
                                {{ tarea.status }}
                            </div>
                        </td>
                        <td class="task-buttons">
                            <button id="delete" (click)="eliminarTarea(tarea)"
                                class="fas fa-trash-alt fa-lg text-danger">
                            </button>
                            <!-- <div class="task-buttons">
                            </div> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
